<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ShoppingPalateDb" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ShoppingPalateDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NewLocalSqlServer" connectionString="data source=(LocalDB)\v11.0;Integrated Security=true;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="test@test.com"/>
    </mailSettings>
  </system.net>
  <location path="ShoppingPages/AdminDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ShoppingPages/Home.aspx">
    <system.web>
      <authorization>
        <allow roles="user,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off" defaultRedirect="ShoppingPalate/ShoppingPages/Error.html">

    </customErrors>
    <authorization>
      <allow users="?"/>
      <allow roles="user"/>
      <allow roles="admin"/>
      <deny users="*"/>
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="ShoppingPalate/ShoppingPages/Login.aspx" defaultUrl="ShoppingPalate/ShoppingPages/Home.aspx"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <membership defaultProvider="NewAspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="NewAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="NewLocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="NewAspNetSqlProfileProvider">
      <providers>
        <clear/>
        <add name="NewAspNetSqlProfileProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="BirthDate" type="DateTime"/>
        <group name="Address">
          <add name="Street" type="String"/>
          <add name="City" type="String"/>
          <add name="State" type="String"/>
          <add name="Zip" type="String"/>
          <add name="Country" type="String"/>
        </group>
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="NewAspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="NewAspNetSqlRoleProvider" connectionStringName="NewLocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>